:root {
  --backroundColor: #27022c;
  --textColor: #fcf9db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backroundColor);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--textColor);
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
}

#root {
  justify-content: center;
  align-content: center;
}

.StarAligned,
h2,
p,
h1 {
  align-self: center;
  justify-self: center;
}

nav {
  align-self: center;
  justify-self: center;
  color: black;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  width: 100%;
}

select {
  margin-top: 20px;
  border-radius: 10px;
  background-color: #f2a5f4;
}

div h2 {
  margin-top: 15px;
}

figure {
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 20px;
}

img {
  width: clamp(100px, 80vw, 550px);
}

a {
  color: var(--textColor);
  text-decoration: none;
}

footer img {
  width: 30px;
}

@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
