.footer {
  background-color: var(--backroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcf9db;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imagesRS {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.julee-regular {
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 0.5em;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
footer h2 {
  font-size: smaller;
}
/* Desktop */
@media screen and (min-width: 1024px) {
  .footer {
    align-items: center;
    font-size: xx-large;
  }
  .imagesRS {
    margin-left: 2em;
  }
}
